@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  border: 1px solid #e5e7eb;
  outline: none;
}
.input:hover {
  border: 1px solid #e5e7eb;
  box-shadow: 5px 5px 6px #e5e6e7;
}

.input:focus {
  border: 1px solid #e5e6e7;
  box-shadow: 5px 5px 6px #e5e6e7;
}

.download:hover {
  box-shadow: 5px 15px 16px #e5e6e7;
}
